/* p{
    background-color: aquamarine;
}

a{
    background-color: rgb(242, 160, 122);
}

div{
    background-color: yellow;
}

span{
    background-color: rgb(198, 165, 230);
} */

/* class and id used  */

.class{
    background-color: red;
}
#id{
    background-color: yellow;
}