* {
    margin: 0;
    padding: 0;
}


/* bg img and home secion css  */
.home-section {
    height: 80vh;
    width: 100vw;
    background-color: #999999;
    /* background: url("./img/background.png"); */
    background-image: url(./img/background.png);
    background-color: black;
    /* position: absolute; */
    opacity: 1;
    filter: brightness(50%);
    /* backdrop-filter: invert(30%) , brightness(40%); */
    z-index: .5;
}

.head-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0px;


}

.head-container img {
    height: 20vh;
    filter: brightness(100%);
    cursor: pointer;
    z-index: 1;

}

.head-container button {
    height: 35px;
    width: 80px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}

.centre-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 80px;
}

.top-text {
    text-align: center;
    color: white;
}

.top-text h1 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin: 0px 0px 16px;

}

.top-text h3 {
    font-size: 22px;
    font-weight: 700;
    color: white;
    margin: 0px 0px 16px;
}

.top-text p {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin: 0px 0px 16px;
}

.buttom-btn input {
    flex: 1;
    height: 56px;
    width: 366px;
    padding: 0 16px;
    font-size: 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px 0 0 4px;
    outline: none;
    border-radius: 5px;
}

.buttom-btn input::placeholder {
    color: #b3b3b3;
    font-size: 18px;
}

.buttom-btn button {
    height: 56px;
    width: 216px;
    padding: 0 26px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: red;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background 0.2s ease;
    border-radius: 5px;
}

.buttom-btn button:hover {
    background: #b02027;

}

.second-container{
    height: 30vh;
    /* width: 100vw; */
    background-color: red;
    position: relative;
}