* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0b0f1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
}

.login-box {
    width: 330px;
    padding: 40px 30px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    position: relative;
    border: 1px solid rgba(255,255,255,0.05);
}

.login-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 2px;
    background: linear-gradient(135deg, #00eaff, #ff00cc);
    z-index: -1;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    color: #00eaff;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #00eaff;
    color: #fff;
    font-size: 15px;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #7fcde0;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    font-size: 12px;
    color: #00eaff;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #00eaff;
    font-size: 18px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #00eaff;
    background: transparent;
    color: #00eaff;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #00eaff;
    color: #000;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.links a {
    color: #00eaff;
    font-size: 14px;
    text-decoration: none;
    transition: .2s;
}

.links a:hover {
    color: #ff00cc;
}
