* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  gap: 12px;
  background-color: black;

}

ul {
  display: flex;
  gap: 15px;
}

li {
  list-style: none;
  font-size: 21px;
  padding: 24px;
}
li a {
  color: white;
  text-decoration: none;
}

.red{
  color: red;
}