body{
    height: 100vh;
    width: 100vw;
    background-color: green;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.red{
    background-color: red;
    color: black;
}
