 .logo img {
     width: 164px;
 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: "Segoe UI";
 }

 .right ul {
     display: flex;
     gap: 34px;
 }

 .right ul li {
     list-style: none;
     display: flex;
     align-items: center;
     cursor: pointer;
 }

 .right ul li span {
     padding: 0 5px;
 }

 .container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;

 }

 .box-container {
     height: 20vh;
     width: 30vw;
     box-shadow: 2px 2px 8px 2px #888888;
 }