 .logo img {
     width: 164px;
 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: "Segoe UI";
 }

 .right ul {
     display: flex;
     gap: 35px;
 }

 .right ul li {
     list-style: none;
     display: flex;
     align-items: center;
     cursor: pointer;
 }

 .right ul li span {
     padding: 0 5px;
 }

 .container {
     margin: auto;
     margin-top: 200px;
     height: 80vh;
     width: 100vw;
     max-width: 80vw;
     display: flex;
     justify-content: center;
     justify-content: space-evenly;
 }

 .box-container {
     height: 25vh;
     width: 25vw;
     background-color: #f2f0ec;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     font-family: Inter,Helvetica,Arial,Lucida,sans-serif;
 }

 .top{
    color: #999999;
 }